@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

:root {
  --primary-color: #001219;
  --secondary-color: #94d2bd;
  --color1: #001219;
  --color2: #0a1b22;
  --color3: #0a9396;
  --color4: #94d2bd;
  --color5: #e9d8a6;
  --color6: #ee9b00;
  --color7: #ca6702;
  --color8: #bb3e03;
  --color9: #ae2012;
  --color10: #9b2226;
  --background-color: #001219;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-size: 100%; */
  font-family: 'Work Sans', sans-serif;
  color: white;
}

body {
  background-color: var(--background-color);
  position: relative;
  min-height: 100vh;
}

main {
  width: 1680px;
  max-width: 90%;

  margin-left: auto;
  margin-right: auto;
  padding: 70px 0 150px 0;
}

h1 {
  /* text-align: center; */
  font-size: 50px;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
